/* IMPORTS */
/* fonts
  font-family: 'Montserrat', sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Libre Baskerville', serif;
*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Baskerville|Montserrat:400,500,700');

/* VARIABLES */
:root {
  --base-spacing: 50px;
  --input-width: 250px;
  --input-height: 40px;

  --title-size: 2em;
  --content-size: 1em;

  --bg-color: #f5f5f5;
  --header-color: #fae2d8;
  --main-red: #e94d10;
  --light-grey: #e8e8e8;
  --dark-grey: #999;
  --space-blue: #080e6c;
}

/* RESET */
body {
  margin: 0;
  background: var(--bg-color);
  max-width: 1024px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > .content {
  flex: 1;
  background: white;
}

/* RANDOM */
.hr {
  border-top: 6px solid var(--main-red);
  border-bottom: 6px solid var(--space-blue);
  height: 6px;
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--main-red);;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: var(--main-red);;
}

/* FORMS */
input, button, .button, .radio-button label, select {
  height: var(--input-height);
  width: var(--input-width);
  margin: 10px 0 0 0;
  box-sizing: border-box;
  text-align: center;
}

select {
  background-color: white;
  border-radius: 0;
  margin-bottom: 10px;
}
select:valid {
  border: 2px solid var(--main-red);
}

input {
  padding: 10px;
  border: 2px solid var(--light-grey);
}
input:focus {
  outline: 2px solid var(--main-red);
}

button, .button, .radio-button label, select {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  line-height: var(--input-height);
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  font-size: var(--content-size);
}
button, .button {
  background-color: var(--main-red);
  color: white;
}
button:focus, .button:focus {
  outline: none;
}
button:active, .button:active {
  transform: translate(1px, 1px);
}
.button:visited {
  color: white;
}
button:hover, button:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
form:invalid button {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.radio-button label, select {
  padding: 0 10px;
  border: 2px solid var(--light-grey);
  color: var(--main-red);
}
.radio-button label:hover {
  border: 2px solid var(--main-red);
}
.radio-button input[type=radio]:checked ~ label {
  border: 2px solid var(--main-red);
  background-repeat: no-repeat;
  background-position: 210px;
  background-size: 17px;
}
.radio-button input[type=radio]:checked ~ label.sad {
  background-image: url('/static/sadface.png');
}
.radio-button input[type=radio]:checked ~ label.happy {
  background-image: url('/static/check.png');
}
.radio-button input[type=radio] {
  display: none;
}

label {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.form__error {
  color: var(--main-red);
  font-size: 0.8em;
  margin-top: 5px;
}

/* HEADER */
.header {
  overflow: auto;
  background-color: var(--header-color);
  color: var(--main-red);
  height: 75px;
  display: flex;
  flex-direction: column;
}
.header .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding: 10px var(--base-spacing);
  font-size: 0.9em;
}
.header .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .menu ul li {
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
}
.header .menu ul li a {
  font-weight: 600;
}
/* FOOTER */
.footer {
  background-color: var(--space-blue);
  color: white;
  padding: var(--base-spacing);
  display: flex;
  justify-content: space-around;
}
.footer a {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-red);
}


/* CONTENT */
.hero {
  overflow: hidden;
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
}
.hero .title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--main-red);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: var(--base-spacing);
}
.hero .title span {
  display: block;
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5em;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
}
.hero img {
  width: 115%;
  height: 100%;
  display: block;
  margin: auto;
}

.hero img.mobile-img {
  display: none;
}

@media only screen and (max-width: 520px) {
  .hero {
    justify-content: flex-start;
  }
  .hero img {
    width: 100%;
  }
  .hero img.mobile-img {
    display: block;
  }
  .hero img.desk-img {
    display: none;
  }
}

.block {
  margin-bottom: var(--base-spacing);
}
.info {
  text-align: center;
  overflow: auto;
  background: white;
  padding-top: var(--base-spacing);
}
.info .block .content {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.block .title {
  font-size: var(--title-size);
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 10px;
}
.block .content {
  font-size: var(--content-size);
  line-height: 18px;
  font-size: 1.2em;
}

.mosaic {
  display: flex;
  flex-wrap: wrap;
}
.mosaic .cell {
  flex-basis: calc(100% / 3);
  position: relative;
}
@media only screen and (max-width: 720px) {
  .mosaic .cell {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 520px) {
  .mosaic .cell {
    flex-basis: 100%;
  }
}

.mosaic .cell .block {
  position: absolute;
  padding: 17px;
}
.mosaic .cell .block .content {
  font-weight: 500;
  font-size: 1.2em;
}
.mosaic .cell .block a {
  margin-top: 5px;
  color: var(--main-red);
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.mosaic .cell img {
  width: 100%;
  display: block;
}

.presents {
  display: flex;
  position: relative;
  overflow: visible;
  justify-content: space-around;
  align-items: center;
  padding: calc(var(--base-spacing) / 2);
  padding-bottom: 0;
  background: white;
  min-height: 200px;
}
.presents img {
  position: absolute;
  height: 200px;
  bottom: -13px;
  left: 50px;
}
@media only screen and (max-width: 780px) {
  .presents {
    text-align: center;
    flex-flow: column-reverse;
  }
  .presents img {
    position: relative;
    left: 10px;
  }
}

/* RSVP */
.rsvp--form form {
  padding: var(--base-spacing) 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
.rsvp--form__title {
  color: var(--main-red);
  font-size: 2.5em;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: calc(var(--base-spacing) / 2);
}
.rsvp--form__radio {
  margin-bottom: calc(var(--base-spacing) / 2);
}
.rsvp--form__radio > label {
  line-height: 1.5em;
}
.rsvp--form__radio__title {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.rsvp--done {
  text-align: center;
  padding: var(--base-spacing) 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
