{% extends 'layout.html' %}

{% block content %}
  <div class="hero">
    <div class="title">
      You're invited to <span>Jonathan & Jessica's Wedding</span>
    </div>
    <img src="{{ url_for('static', filename='HeroImage.jpg') }}">
  </div>

  <div class="info">
    <div class="block">
      <div class="title">When</div>
      <div class="content">
        <div>December 1, 2018 | 4 PM ceremony</div>
        <div>reception to follow</div>
      </div>
    </div>

    <div class="block">
      <div class="title">Where</div>
      <div class="content">
        <div>The parker palm springs</div>
        <div>4200 E Palm Canyon Drive</div>
      </div>
    </div>

    <div class="block">
      <div class="title">Dress</div>
      <div class="content">
        <div>Cocktail Attire</div>
        <div>Bring a warm jacket</div>
      </div>
    </div>

    <div class="block">
      <div class="title">RSVP</div>
      <div class="content">
        <div>By Janyary 22</div>
      </div>
    </div>

    <div class="block">
      {% if errors %}
        <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <form action="{{url_for('rsvp')}}" method="post">
        <input name="email"></input><button type="submit">submit</button>
        <button name="fast-rsvp" value="yes" class="cta--positive">count me in</button>
        <button name="fast-rsvp" value="no" class="cta--negative">count me out :(</button>
      </form>
    </div>
  </div>

  <div class="mosaic">
    <div class="row">
      <div class="cell"><img src="{{url_for('static', filename='stay.jpg')}}"></div>
      <div class="cell"><img src="{{url_for('static', filename='fly.jpg')}}"></div>
      <div class="cell"><img src="{{url_for('static', filename='play.jpg')}}"></div>
    </div>

    <div class="row">
      <div class="cell"><img src="{{url_for('static', filename='visit.jpg')}}"></div>
      <div class="cell"><img src="{{url_for('static', filename='relax.jpg')}}"></div>
      <div class="cell"><img src="{{url_for('static', filename='eat.jpg')}}"></div>
    </div>
  </div>

  <div class="song">
    <img src="http://via.placeholder.com/250x250/ff6347/222222.png">
    <form>
      <div class="input">
        <label>
          Song Request
        </label>
          <input type="text" name="title">
      </div>
      <div class="input">
        <label>
          Artist
        </label>
          <input type="text" name="artist">
      </div>
      <button class="cta--positive">Request</button>
    </form>
  </div>
{% endblock %}
