{% extends 'layout.html' %}

{% block content %}
  <div class="hero">
    <div class="title">
      You're invited to <span>Jonathan & Jessica's Wedding</span>
    </div>
    <img class="desk-img" src="{{ url_for('static', filename='hero.png') }}">
    <img class="mobile-img" src="{{ url_for('static', filename='mobile_hero.png') }}">
  </div>

  <div class="info">
    <div class="block">
      <div class="title">When</div>
      <div class="content">
        <div>December 1, 2018 | 4 PM ceremony</div>
        <div>reception to follow</div>
      </div>
    </div>

    <div class="block">
      <div class="title">Where</div>
      <div class="content">
        <div>The parker palm springs</div>
        <div>4200 E Palm Canyon Drive</div>
      </div>
    </div>

    <div class="block">
      <div class="title">Dress</div>
      <div class="content">
        <div>Cocktail Attire</div>
        <div>Bring a warm jacket</div>
      </div>
    </div>

    <div class="block">
      <div class="title">RSVP</div>
      <div class="content">
        <div>By June 30th</div>
      </div>
    </div>

    <div class="block">
      <a href="{{ url_for('rsvp', email=request.args.get('email')) }}" class="button">RSVP</a>
    </div>
  </div>

  <div class="mosaic">
    <div class="cell">
      <div class="block">
        <div class="title">Stay</div>
        <div class="content">Special rates at The Parker with<br>password 'Wong Pepin Wedding'.</div>
        <a target="_blank" href="mailto:reservations@parkerpalmsprings.com?Subject=Room%20for%20IHO:%20Wong%20Pepin%20Wedding">Email the Parker</a>
      </div>
      <img src="{{url_for('static', filename='stay.png')}}">
    </div>

    <div class="cell">
      <div class="block">
        <div class="title">Fly</div>
        <div class="content">PSP: 5 minute Uber<br>LAX & SNA: 2 hour drive</div>
        <a target="_blank" href="https://google.com/flights">Book a flight </a>
      </div>
      <img src="{{url_for('static', filename='fly.png')}}">
    </div>

    <div class="cell">
      <div class="block">
        <div class="title">Play</div>
        <div class="content">Challenge Steve Wong to a set.</div>
        <a href="https://jessicawong.typeform.com/to/MYD3YC" target="_blank">Bring it on</a>
      </div>
      <img src="{{url_for('static', filename='play.png')}}">
    </div>

    <div class="cell">
      <div class="block">
        <div class="title">Visit</div>
        <div class="content">Where else can you go on a door tour?</div>
        <a target="_blank" href="https://www.wsj.com/articles/an-insiders-guide-to-palm-springs-californias-desert-revival-1513692213">Check it out</a>
      </div>
      <img src="{{url_for('static', filename='visit.png')}}">
    </div>

    <div class="cell">
      <div class="block">
        <div class="title">Relax</div>
        <div class="content">Massages, facials and yoga&mdash;oh my!</div>
        <a target="_blank" href="https://www.theparkerpalmsprings.com/palm-springs-yacht-club/">Book an appointment</a>
      </div>
      <img src="{{url_for('static', filename='relax.png')}}">
    </div>

    <div class="cell">
      <div class="block">
        <div class="title">Eat</div>
        <div class="content">Carnivore, vegetarian or seafood lover?</div>
        <a target="_blank" href="{{ url_for('rsvp', email=request.args.get('email')) }}">see menu</a>
      </div>
      <img src="{{url_for('static', filename='eat.png')}}">
    </div>
  </div>

  <div class="presents">
    <img src="{{url_for('static', filename='presents.png')}}">
    <div class="block">
      <div class="title">
        Your presence is our present
      </div>
      <div class="content">
        We don't have a wedding registry. Just bring yourself. Best gift ever!
      </div>
    </div>
  </div>
{% endblock %}
