<!DOCTYPE html>
<html>
<head>
  <title>Jessica & Jonathan</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="wrapper">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% include 'header.html' %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
  </div>
</body>
</html>
