{% extends 'layout.html' %}

{% block content %}
  <div class="info">
    <div class="block">
      <div class="title">Entree</div>
      <div class="content">
        <div>Roasted yellow and candy beets</div>
        <div class="content__small">pickled mushroom, kefir cheese, frisée, micro greens, pomegranate cider reduction</div>
      </div>
    </div>

    <div class="block">
      <div class="title">Main Course</div>
      <div class="content">
        <div>Caramelized Scallops</div>
        <div class="content__small">with White Wine Nage, Parsnip Puree, Haricot Vert, and Asparagus Salad</div>
      </div>
      <div class="content">
        <div>USDA Prime New York Strip</div>
        <div class="content__small">with Fresh Herb Chimichurri, Yukon Gold Potato Gratin and Roasted Beets</div>
      </div>
      <div class="content">
        <div>Forest Mushroom En Croute</div>
        <div class="content__small">with Chardonnay Cream Sauce, Seasonal Vegetables & Frisee</div>
      </div>
    </div>

    <div class="block">
      <div class="title">Dessert</div>
      <div class="content">
        <div>Lemon lavender cake & assorted sweets</div>
      </div>
    </div>

    <div class="block">
      <div class="content__small">Please select your main course when you RSVP.</div>
    </div>
  </div>
{% endblock content %}

