{% extends 'layout.html' %}

{% block content %}
  <div class="info menu">
    <div class="block">
      <div class="title">Entree</div>
      <div class="content">
        <div>Roasted yellow and candy beets</div>
        <div class="content__small">pickled mushroom, kefir cheese, frisée, micro greens, pomegranate cider reduction</div>
      </div>
    </div>

    <div class="block">
      <div class="title">Main Course</div>
      <div class="content">
        <div>Caramelized Scallops</div>
        <div class="content__small">with white wine nage, parsnip puree, haricot vert, and asparagus salad</div>
      </div>
      <div class="content">
        <div>USDA Prime New York Strip</div>
        <div class="content__small">with fresh herb chimichurri, yukon gold potato gratin and roasted beets</div>
      </div>
      <div class="content">
        <div>Forest Mushroom En Croute</div>
        <div class="content__small">with chardonnay cream sauce, seasonal vegetables & frisee</div>
      </div>
    </div>

    <div class="block">
      <div class="title">Dessert</div>
      <div class="content">
        <div>lemon lavender cake & assorted sweets</div>
      </div>
    </div>

    <div class="block">
      <div class="content__small">Please select your main course when you RSVP.</div>
    </div>
  </div>
{% endblock content %}

