{% extends 'layout.html' %}

{% block content %}
  <div class="info menu">
    <div class="block">
      <div class="title">Special Room Rates</div>

      <div class="content">
        <div>Estate King Room</div>
        <div class="content__small">$335</div>
      </div>
      <div class="content">
        <div>Deluxe Room</div>
        <div class="content__small">$395</div>
      </div>
      <div class="content">
        <div>Patio Hammock Room</div>
        <div class="content__small">$460</div>
      </div>
      <div class="content">
        <div>Lanai Room</div>
        <div class="content__small">$635</div>
      </div>
      <div class="content">
        <div class="content__small">2 nights minimum, subject to taxes and $35/night resort fee.</div>
        <div class="content__small"><a target="_blank" href="mailto:reservations@parkerpalmsprings.com?Subject=Room%20for%20IHO:%20Wong%20Pepin%20Wedding">Email The Parker</a> mentioning you are part of the Wong Pepin wedding.</div>
      </div>
    </div>
  </div>
{% endblock content %}

